{% block content %}
  <h2>Investments List</h2>
  <div class="investments">
    {% for year_month, investments in investment_data.items %}
      <div class="month">
        <h3>{{ year_month }}</h3>
        <ul>
          {% for investment in investments %}
            <li>
              {{ investment.name }} - ${{ investment.amount }}
              <span class="end-date" style="display: none;">End Date: {{ investment.end_date }}</span>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>

  <h2>Add Investment</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add Investment</button>
  </form>
{% endblock %}
