{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    // Get a reference to the long_term checkbox and the fields to toggle
    var longTermCheckbox = $('#id_long_term');
    var longTermFields = $('#interest_rate, #end_date');
    
    // Initially hide the long_term fields
    longTermFields.hide();
    
    // Toggle the long_term fields based on checkbox selection
    longTermCheckbox.on('change', function() {
      if (longTermCheckbox.is(':checked')) {
        longTermFields.show();
      } else {
        longTermFields.hide();
      }
    });
  });
  </script>


  <h2>Add Long Term Liability or Daily Expense</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.long_term.label_tag }}
    {{ form.long_term }}
    <br> <br>
    {{ form.name.label_tag }}
    {{ form.name }}
    {{ form.amount.label_tag }}
    {{ form.amount }}
    <br> <br>
    {{ form.date.label_tag }}
    {{ form.date }}
    <!-- Display long_term checkbox -->
    <br> <br>

    <!-- Display fields based on long_term value using if conditions -->
    <div id="end_date">
      {{ form.end_date.label_tag }}
      {{ form.end_date }}
    </div>
    <br>
    <div id="interest_rate">
      {{ form.interest_rate.label_tag }}
      {{ form.interest_rate }}
    </div>
    <br>
    <button type="submit">Add Liability</button>
  </form>




  <h2>Expense List</h2>
  <div class="expenses">
    {% for year_month, liabilities in expense_data.items %}
      <div class="month">
        <h3> Month: {{ year_month }}</h3>
        <ul>
          {% for liability in liabilities %}
            <li>
              {{ liability.name }} - ${{ liability.amount }}
              <span class="end-date"> End Date: {{ liability.end_date }}</span>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>


  <div class="bar-chart">
    <h2>Monthly Expenses Bar Chart</h2>
    <img src="data:image/png;base64,{{ graph_data.chart }}" alt="Monthly Expenses Bar Chart">
  </div>

  {% endblock %}
